<div class="d-flex justify-content-center align-items-center flex-column">
    <img src="/images/empty.svg" alt="Empty" style="max-width: 200px" />
    <div class="text-muted text-center">
        Không có bản ghi nào
    </div>
</div>