@model ButtonViewModel
@if (Model.Id != Guid.Empty)
{
    <a href="javascript:Delete('@Model.Id')" class="btn btn-icon btn-bg-white btn-active-color-primary btn-sm" data-bs-toggle="tooltip" data-placement="top" title="Xóa">
        <i class="las la-trash fs-1"></i>
    </a>
    <script type="text/javascript">
        function Delete(id) {
            SwalConfirm("Bạn có chắc muốn xóa thông tin này không?",
                function () {
                    AjaxAsync("/Api/@Model.ControllerName/RemoveAsync/" + id, window.objAjax,
                        function () {
                            window.location.reload();
                        });
                }, "", "500", "question", "Xác nhận");
        }
    </script>
}
